n8n_workflows/cold-email-workflow.json
{
    "nodes": [
      {
        "id": "cron",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [200, 300],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 5,
                "unit": "minutes"
              }
            ]
          }
        }
      },
      {
        "id": "getNext",
        "name": "Get Next Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [450, 300],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:3000/send/next",
          "responseFormat": "json",
          "options": {
            "fullResponse": true
          }
        }
      },
      {
        "id": "ifEmpty",
        "name": "If No Payload",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [700, 300],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$json.statusCode}}",
                "operation": "equal",
                "value2": 204
              }
            ]
          }
        }
      },
      {
        "id": "wait",
        "name": "Wait Random",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [900, 200],
        "parameters": {
          "waitType": "random",
          "amount": 30,
          "maxAmount": 90,
          "unit": "seconds"
        }
      },
      {
        "id": "gmail",
        "name": "Send Gmail",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [1150, 200],
        "credentials": {
          "gmailOAuth2": {
            "id": "YOUR_CREDENTIAL_ID",
            "name": "Gmail OAuth"
          }
        },
        "parameters": {
          "resource": "message",
          "operation": "send",
          "to": "={{$json.body.lead.email}}",
          "subject": "={{$json.body.subject}}",
          "message": "={{$json.body.body}}"
        }
      },
      {
        "id": "log",
        "name": "Log Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1400, 200],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:3000/send/log",
          "jsonParameters": true,
          "bodyParametersJson": "={\n  \"lead_id\": \"{{$json.body.lead.id}}\",\n  \"inbox_id\": \"{{$json.body.inbox.id}}\",\n  \"subject\": \"{{$json.body.subject}}\",\n  \"body\": \"{{$json.body.body}}\"\n}"
        }
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [[{ "node": "Get Next Email", "type": "main", "index": 0 }]]
      },
      "Get Next Email": {
        "main": [[{ "node": "If No Payload", "type": "main", "index": 0 }]]
      },
      "If No Payload": {
        "main": [
          [],
          [{ "node": "Wait Random", "type": "main", "index": 0 }]
        ]
      },
      "Wait Random": {
        "main": [[{ "node": "Send Gmail", "type": "main", "index": 0 }]]
      },
      "Send Gmail": {
        "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]]
      }
    }
  }
  