n8n_workflows/Excection Flow.json
{
  "name": "Campaign Execution Engine (5 Min Throttle)",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-running-campaigns",
      "name": "Fetch Running Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [240, 0],
      "parameters": {
        "requestMethod": "GET",
        "url": "https://35d4a0274bfb.ngrok-free.app/crud/campaigns?status=running",
        "options": {
          "splitIntoItems": true
        }
      }
    },
    {
      "id": "fetch-next-executions",
      "name": "Fetch Next Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [520, 0],
      "parameters": {
        "requestMethod": "GET",
        "url": "=https://35d4a0274bfb.ngrok-free.app/execution/campaigns/{{ $json.id }}/next-executions",
        "options": {}
      }
    },
    {
      "id": "split-executions",
      "name": "Split Executions",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [800, 0],
      "parameters": {
        "fieldToSplitOut": "executions"
      }
    },
    {
      "id": "wait-5-min",
      "name": "Throttle Wait (5 Minutes)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1040, 0],
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      }
    },
    {
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1280, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30,
      "parameters": {
        "requestMethod": "POST",
        "url": "https://35d4a0274bfb.ngrok-free.app/execution/send-email",
        "jsonParameters": true,
        "bodyParametersJson": "={ \"campaign_lead_id\": \"{{ $json.campaign_lead_id }}\" }",
        "options": {}
      }
    },
    {
      "id": "mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1520, -120],
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://35d4a0274bfb.ngrok-free.app/execution/campaign-leads/{{ $json.campaign_lead_id }}/sent",
        "options": {}
      }
    },
    {
      "id": "mark-failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1520, 120],
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://35d4a0274bfb.ngrok-free.app/execution/campaign-leads/{{ $json.campaign_lead_id }}/failed",
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Running Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Running Campaigns": {
      "main": [
        [
          {
            "node": "Fetch Next Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Next Executions": {
      "main": [
        [
          {
            "node": "Split Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Executions": {
      "main": [
        [
          {
            "node": "Throttle Wait (5 Minutes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle Wait (5 Minutes)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
