n8n_workflows/execution-worker.json
{
    "name": "Global Campaign Execution Worker",
    "nodes": [
      {
        "parameters": {
          "cronExpression": "*/1 * * * *"
        },
        "id": "Cron",
        "name": "Cron Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://YOUR_BACKEND_URL/api/execution/next",
          "method": "POST",
          "jsonParameters": true,
          "options": {
            "timeout": 30000
          },
          "headersJson": "{\"Authorization\":\"Bearer YOUR_API_TOKEN\"}",
          "bodyParametersJson": "{\"batch_size\":10}"
        },
        "id": "GetWork",
        "name": "Get Execution Leads",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [420, 300]
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$json[\"leads\"].length}}",
                "operation": "larger",
                "value2": 0
              }
            ]
          }
        },
        "id": "HasWork",
        "name": "Has Work?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "fieldToSplitOut": "leads",
          "batchSize": 1
        },
        "id": "SplitLeads",
        "name": "Split Leads",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [860, 300]
      },
      {
        "parameters": {
          "functionCode": "return [{ json: { id: $json.id, success: true } }];"
        },
        "id": "SendEmail",
        "name": "Execute Step (Mock)",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [1080, 300]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json.success}}",
                "operation": "isTrue"
              }
            ]
          }
        },
        "id": "SuccessCheck",
        "name": "Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [1280, 300]
      },
      {
        "parameters": {
          "url": "https://YOUR_BACKEND_URL/api/execution/{{$json.id}}/success",
          "method": "POST",
          "jsonParameters": true,
          "headersJson": "{\"Authorization\":\"Bearer YOUR_API_TOKEN\"}"
        },
        "id": "MarkSuccess",
        "name": "Mark Step Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [1480, 200]
      },
      {
        "parameters": {
          "url": "https://YOUR_BACKEND_URL/api/execution/{{$json.id}}/failure",
          "method": "POST",
          "jsonParameters": true,
          "headersJson": "{\"Authorization\":\"Bearer YOUR_API_TOKEN\"}"
        },
        "id": "MarkFailure",
        "name": "Mark Step Failure",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [1480, 400]
      }
    ],
    "connections": {
      "Cron Trigger": {
        "main": [[{ "node": "Get Execution Leads", "type": "main", "index": 0 }]]
      },
      "Get Execution Leads": {
        "main": [[{ "node": "Has Work?", "type": "main", "index": 0 }]]
      },
      "Has Work?": {
        "main": [
          [{ "node": "Split Leads", "type": "main", "index": 0 }],
          []
        ]
      },
      "Split Leads": {
        "main": [[{ "node": "Execute Step (Mock)", "type": "main", "index": 0 }]]
      },
      "Execute Step (Mock)": {
        "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
      },
      "Success?": {
        "main": [
          [{ "node": "Mark Step Success", "type": "main", "index": 0 }],
          [{ "node": "Mark Step Failure", "type": "main", "index": 0 }]
        ]
      }
    }
  }
  